/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #04440c;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 70px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 25px;
  font-weight: 550;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 15px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #04440c;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #04440c;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #04440c;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #04440c;
}
.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #04440c;
}
.sidebar li a:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #04440c;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #04440c;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #04440c;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 150vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #04440c;
  font-size: 50px;
  font-weight: 500;
  margin: 18px;
  margin-top: 40px;
  margin-left: 300px
}

.welcome{
  display: inline-block;
  color: #04440c;
  font-size: 50px;
  font-weight: 500;
  margin: 18px;
  margin-top: 40px;
  margin-left: 300px
}

.weatherContainer{
  display: flex;
  justify-content: right;
  align-items: right;
  margin: 0;
}

.weatherCard{
  background: #04440c;
  color: white;
  padding: 1.8em;
  width: 100%;
  max-width: 500px;
  border-radius: 30px;
  margin: 1em;
}

.controlCenter{
  display: flex;
  justify-content: center;
  align-content: center;
}

.city{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-top: 5px;
}

.temp{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.subWeather{
  font-family: 'Open Sans', sans-serif sans-serif;    
}

.weatherSearch{
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em;
  border-radius: 18px;
  background-color: #7c7c7c2b;
  color: white;
  font-family: inherit;
  width: 100%;
}

.fa-search{
  margin: 0.5em;
  border-radius: 60%;
  border: none;
  height: 2.3em;
  width: 2.3em;
  background-color: #7c7c7c2b;
  transition: 0.2s ease-in-out;
}
.fa-search:hover{
  background-color: #e0e0e083;
}

@media (max-width: 420px) {
  .sidebar li .tooltip{
    display: none;
  }
}

.buttonWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

.manualWaterPump {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #04440c;
  font-size: 28px;
  margin-bottom: 15px;
  margin-top: 50px;
  margin-right: 20px
}

.manualNutrientPump {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #04440c;
  font-size: 28px;
  margin-bottom: 15px;
  margin-top: 20px;
  margin-right: 20px
}

.page.loading {
  visibility: hidden;
  max-height: 0px;
  position: relative;
}

.page.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
  left: 20px;
  font-size: 25px;
}

.soilPanel, .rainPanel, .phPanel, .tempPanel, .humPanel {
  border: 1.5px solid #000;
  padding: 2%;
  color: #474747;
  background-color: #ffffff;
  width: 20vw;
  height: 13vw;
  margin: auto;
  grid-auto-flow: row;
  display: inline-grid;
  margin-top: 50px;
  margin-left: 100px;
  justify-content: center;
  justify-items: center;
}

.range {
  font-size: 14px;
  margin-top: 10px
}

.update{
  font-size: 24px;
  margin-top: 5px;
  justify-content: center;
  justify-items: center;
}
